* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('https://i.imgur.com/5UucST1.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron,
.container {
  background-color: #0b1b26;
  opacity: 0.9;
}

h1,
h3 {
  letter-spacing: 10px;
}

.sentiment {
  background-color: #203748;
  opacity: 0.9;
}

.sentiment:hover {
  background-color: #5f9f89;
}

.pie {
  position: relative;
  left: 200px;
  background-color: #101e2b;
}

.hidden {
  display: none;
}
