* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* Typography */
  font-family: 'Roboto', sans-serif;

  /* Visuals */
  background-image: url('https://visualhunt.com/photos/m/7/mountain-fog-tree-mountain.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}

.jumbotron,
.container {
  /* Visuals */
  background-color: #0b1b26;
  opacity: 0.9;
}

h1 {
  /* Typography */
  letter-spacing: 10px;
}
